@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css';

.idx-omnibar-form {
  padding: .5rem;
}
.idx-omnibar-form > div {
  width: 60%;
}
.idx-omnibar-form input {
  box-sizing: border-box;
}
input[type=text].idx-omnibar-input {
    height:40px;
    width: 100%;
    margin: 0;
}
.idx-omnibar-form div div {
  width: 100%;
}
.idx-omnibar-form button {
  width: 40%;
  font-family: inherit;
  vertical-align: top;
  padding: inherit;
  height: 40px;
}
.idx-omnibar-form .fa-search:before {
  font-style: normal;
}
.idx-omnibar-form button span{
  margin-left: .5rem;
}
.idx-omnibar-form i.fa {
  font-family: FontAwesome;
}
.idx-omnibar-form input[placeholder] {
  text-overflow: ellipsis;
  font-family: inherit;
}
div.awesomplete li mark, div div.awesomplete li:hover mark, div div.awesomplete > ul > li[aria-selected="true"] mark {
  background: none;
  font-weight: bolder;
}
div div.awesomplete > ul > li:hover, div div.awesomplete > ul > li[aria-selected="true"]{
  background: hsla(0, 100%, 100%, 0.6);
  color: #000;
  font-weight: bold;
  font-family: inherit;
}
div.awesomplete > ul > li {
  color:#000;
}
.idx-omnibar-form .idx-omnibar-extra {
  display: none;
}

/*IDX-Omnibar Mini*/
.idx-omnibar-mini button span{
  display: none;
}
.idx-omnibar-mini > div {
  width: 70%;
}
.idx-omnibar-mini input {
}
.idx-omnibar-mini button {
  width: 30%;
}



/*IDX-Omnibar Extra Widget*/
.idx-omnibar-extra-form input[type=text].idx-omnibar-input {
  height: inherit;
}
.idx-omnibar-form.idx-omnibar-extra-form .idx-omnibar-extra {
  display: inline-block;
}
.idx-omnibar-form label {
  display: block;
  margin: .5rem 0;
}
.idx-omnibar-form .idx-omnibar-extra {
  width: 47%;
}
.idx-omnibar-form.idx-omnibar-extra-form > div:nth-of-type(1) {
  width: 100%;
}
.idx-omnibar-extra-form .awesomeplete input, .idx-omnibar-extra.idx-omnibar-price-container {
  width: 100%;
}
.idx-omnibar-extra.idx-omnibar-bed-container {
  float: left;
}
.idx-omnibar-extra.idx-omnibar-bath-container {
  float: right;
}
.idx-omnibar-extra input {
  width: 100%;
  display: block;
}
.idx-omnibar-form.idx-omnibar-extra-form button {
  width: 100%;
  margin-top: 1.5rem;
}



/* Common Theme Fixes */
.widget div.awesomplete {
  padding: 0;
}
.idx-omnibar-form button {
  display: inline-block;
}