@import '~bootstrap/scss/forms';
.form-content {
    display: flex;
    flex-direction: column;
    grid-gap: 25px;
    font-size: 1rem;
    color: $gray-875;
    &__toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 20px;
        background-color: $gray-150;

        @media (max-width: 630px) {
            flex-direction: column;
            align-items: end;
            grid-gap: 10px;
        }
    }
    .form-control {
        border: 1px solid $gray-250;
        padding-left: 15px;
    }
    &__label {
        width: 100%;
    }
    &__title {
        display: block;
        margin-bottom: 5px;
    }
    input:focus {
        border-color: $gray-400;
        box-shadow: 0 0 0 1px $gray-400;
    }
    .toggle-switch {
        width: 65px;
        &__checkbox:checked + .toggle-switch__slider:before {
            transform: translateX(36px);
        }
    }
}

.form-group {
    margin-bottom: var(--space-6);
    position: relative;
}

.invalid-feedback {
    font-size: 1em;
}

@-webkit-keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}

@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}

.spinner-border {
    animation: 0.75s linear infinite spinner-border;
    border: 2px solid currentColor;
    border-right-color: $primary;
    border-radius: 50%;
    bottom: 15px;
    color: #acd9ee;
    display: inline-block;
    height: 1rem;
    position: absolute;
    right: 1rem;
    vertical-align: text-bottom;
    width: 1rem;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus) {
    border: 0 !important;
    clip: rect(0, 0, 0, 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
}
