@import '~bootstrap/scss/forms';
.form-content {
    font-size: 1rem;
    color: $gray-875;
    hr {
        border-top: 1px solid $gray-250;
        margin-bottom: var(--space-form-section);
        margin-top: var(--space-form-section);
    }
    &__toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 20px;
        background-color: $gray-150;

        .toggle-switch {
            width: 65px;

            &__checkbox:checked+.toggle-switch__slider:before {
                transform: translateX(36px);
            }
        }

        @media (max-width: 630px) {
            flex-direction: column;
            align-items: end;
            grid-gap: 10px;
        }
    }
    &__title {
        font-size: 1em;
        display: block;
        font-weight: 700;
        margin-bottom: var(--space-form-title);
    }
    &__header {
        margin-bottom: var(--space-form-section);
        margin-top: var(--space-form-section);
    }
    &__label {
        font-size: 1em;
        margin-bottom: var(--space-form-label);
        width: 100%;
        *:last-child {
            margin-bottom: 0;
        }
    }
    .form-control,
    input {
        border: 1px solid $gray-250;
        border-radius: 4px;
        padding-left: 15px;
    }
    input:focus,
    textarea:focus {
        border-color: $gray-400;
        box-shadow: 0 0 0 1px $gray-400;
    }
    .autocomplete {
        &__results {
            margin-top: var(--form-control-height);
        }
    }
    .form-control.is-valid {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
        border-color: $green;
    }
    .form-control.is-valid:focus {
        border-color: $green;
        box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25);
    }
    .form-control.is-invalid {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
        border-color: $red;
    }
    .form-control.is-invalid:focus {
        border-color: $red;
        box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
    }
    &--disabled {
        opacity: .65;
        pointer-events: none;
    }
}
.btn.btn-link,
.btn.btn-link:hover {
    color: $gray-875;
}
.warning__link {
    color: $cyan;
    cursor: pointer;
    &:hover {
        color: darken($cyan, 10%);
        text-decoration: underline;
    }
}
.form-content + .btn.btn-primary {
    margin-top: var(--space-form-section);
}
.custom-select__options,
.autocomplete__results {
	max-height: 300px;
	overflow: auto;
}
.form-group {
    position: relative;
}
.invalid-feedback {
    font-size: 1em;
}

@-webkit-keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}

@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}

.spinner-border {
    animation: 0.75s linear infinite spinner-border;
    border: 2px solid currentColor;
    border-right-color: $primary;
    border-radius: 50%;
    bottom: 15px;
    color: #acd9ee;
    display: inline-block;
    height: 1rem;
    position: absolute;
    right: 1rem;
    vertical-align: text-bottom;
    width: 1rem;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus) {
    border: 0 !important;
    clip: rect(0, 0, 0, 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
}
