.form-content {
    display: flex;
    flex-direction: column;
    grid-gap: 25px;
    font-size: 1rem;
    color: $gray-875;
    &__toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 20px;
        background-color: $gray-150;

        @media (max-width: 630px) {
            flex-direction: column;
            align-items: end;
            grid-gap: 10px;
        }
    }
    .form-control {
        border: 1px solid $gray-250;
        padding-left: 15px;
    }
    &__label {
        width: 100%;
    }
    input:focus {
        border-color: $gray-400;
        box-shadow: 0 0 0 1px $gray-400;
    }
    .toggle-switch {
        width: 65px;
        &__checkbox:checked + .toggle-switch__slider:before {
            transform: translateX(36px);
        }
    }
}
