// The incorrect usage of BEM lines up with the VCL implementation. Will need a major VCL upgrade to change.

// this media query is to match WordPress
@media (max-width: 600px) {
    .app {
        margin-left: -10px;
        width: calc(100% + 10px);
        .navigation {
            position: sticky;
            top: 0;
            z-index: 2;
        }
        .content-page {
            margin-right: 0;
            margin-top: 0;
            padding-top: 70px;
            width: calc(100vw - #{$icon-nav-width});
        }
    }
}

.wordpress-navigation.navbar {
    position: absolute;
    top: 0;
    left: $large-screen-left;
    height: $v-navbar-height;
    width: 100%;
    z-index: 2;
    border-bottom: 2px solid $gray-400;
    background-color: $white;
    @media (max-width: 960px) {
        left: $medium-screen-left;
    }
    @media (max-width: 782px) {
        left: $small-screen-left;
    }
    // this media query is to match WordPress
    @media (min-width: 601px) {
        position: fixed;
        top: var(--v-navbar-top);
    }
}

.navbar-brand img {
    width: 225px;
}

.icon--container.horizontal-navigation__toggle {
    width: 50px;
    height: 100%;
    background-color: $white;
    border: 1px solid $gray-400;
    cursor: pointer;
    top: 1px;

    .icon--image {
        transition: transform .5s ease;
    }

    &--expanded .icon--image {
        transform: rotate(135deg);
    }
}

.v-nav--item {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .1rem;

    a {
        position: relative;
        color: #fff;

        &:hover,
        &:focus {
            color: darken(#fff, 10%);
            text-decoration: none;
        }

        &.router-link-exact-active {
            font-weight: 700;

            &:before {
                content: "";
                position: absolute;
                left: -10px;
                top: 7px;
                width: 5px;
                height: 5px;
                border-radius: 2.5px;
                background-color: $light-blue;
            }
        }
    }
}

.v-nav>.nav-list>.nav-list--item>.nav-list--container>.nav-list>.nav-list--item>.v-nav--item {
    letter-spacing: .25px;

    ~.nav-list--container {
        .router-link-active {
            letter-spacing: .25px;
            font-weight: 400;
        }
    }
}
.nav-list--item {
    list-style: none;
    margin-bottom: 0;
    @media (max-width: 782px) {
        width: 100%;
    }
}

.nav-list {
    padding-left: 15px;
}

.horizontal-navigation--collapsed .nav-list,
.horizontal-navigation--collapsed .v-nav--icon-bar {
    cursor: pointer;
}

.navbar-brand {
    padding-left: 50px;
}

.v-nav--item {
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: $v-nav-height;
    max-height: $v-nav-height;
    width: $v-nav-width;
    background-color: $gray-650;
    border: solid 1px rgba(65, 75, 81, .7);
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: $v-nav-padding-y $v-nav-padding-x;
    color: $gray-400;
    font-weight: $font-weight;
    padding-left: $a-tag-padding;
    cursor: pointer;
    &:hover {
        color: $gray-600;
    }
    @media (max-width: 782px) {
        width: 100%;
    }
}

.v-nav.v-nav--full-bar {
    &:hover {
        overflow-y: auto;
    }
    @media (max-width: 782px) {
        width: 100%;
    }
}

.horizontal-navigation__options-bar.v-nav {
    overflow-y: hidden;
    overflow-x: hidden;
    position: absolute;
    top: $v-navbar-height;
    bottom: 0;
    left: $large-screen-left;
    height: calc(100vh - #{$v-navbar-height});
    width: $v-nav-width;
    background-color: $gray-725;
    transition-property: width, visibility;
    transition-timing-function: ease;
    transition-duration: $transition-time;
    z-index: 2;
    @media (max-width: 960px) {
        left: $medium-screen-left;
    }
    @media (max-width: 782px) {
        left: $small-screen-left;
        width: 100%;
    }
    // this media query is to match WordPress
    @media (min-width: 601px) {
        position: fixed;
        top: calc(#{$v-navbar-height} + var(--v-navbar-top));
    }

    &.horizontal-navigation--collapsed {
        width: $icon-nav-width;

        .nav-list .nav-list--item .icon--container + .v-nav--item + .nav-list--container {
            display: none;
        }
    }

    >.nav-list>.nav-list--item {
        >.v-nav--item {
            background-color: $gray-650;
            text-transform: uppercase;

            &.active--link {
                background-color: $gray-800;
                color: $white;
            }
        }

        >.nav-list--container>.nav-list>.nav-list--item {
            >.v-nav--item {
                background-color: $gray-750;

                &.active--link {
                    color: $white;
                }
            }

            >.nav-list--container>.nav-list>.nav-list--item {
                >.v-nav--item {
                    background-color: $gray-725;
                    border: none;

                    &.active--link {
                        color: $white;
                    }
                }
            }
        }
    }
}

.icon--active {
    background-color: $gray-800;
}

.nav-item--has-children {
    &::after {
        content: '+';
        position: absolute;
        top: 0;
        right: $top-level-after;
        display: block;
        padding: 11px 12px;
        color: white;
    }

    +.nav-list--container>.nav-list>.nav-list--item>.nav-item--has-children::after {
        right: $second-level-after;
    }

    &.nav-item--expanded::after {
        content: '-'
    }
}

.v-nav__icon-bar {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: $icon-nav-width;
    height: 100%;
    background-color: $gray-800;
}

.nav-list.horizontal-navigation--collapsed {
    visibility: hidden;
    max-height: $v-nav-height;
    min-height: $v-nav-height;
    font-size: 0;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}
.folded {
    .wordpress-navigation.navbar,
    .horizontal-navigation__options-bar.v-nav {
        left: 36px;
        @media (max-width: 960px) {
            left: 0px;
        }
    }
}
