#idx-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 360px;
    background: #000;
    opacity: .7;
    z-index: 159900;
}
#idx-shortcode-modal {
    position: fixed;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    z-index: 160000;
}
.idx-modal-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    min-height: 300px;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.7);
    box-shadow: 0 5px 15px rgba(0,0,0,.7);
    background: #fcfcfc;
    -webkit-font-smoothing: subpixel-antialiased;
    overflow-x: hidden;
}
.idx-modal-inner-content {
    padding: 1rem;
}

#idx-shortcode-modal h1 {
    padding: 0 16px;
    font-size: 22px;
    line-height: 50px;
    margin: 0;
}

.idx-shortcode-type-icon {
    background: #EEE;
    border: 1px solid #E0E0E0;
    text-align: center;
    font-size: 50pt;
    padding: 4rem;
}

.idx-shortcode-type-icon .dashicons, .idx-shortcode-type-icon .dashicons-before:before{
    font-size: inherit;
    width: inherit;
    height: inherit;
}

.idx-shortcode-type{
    width: 17rem;
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
}
.idx-modal-shortcode-edit {
}
.idx-shortcode-name {
    text-align: center;
    background: #fff;
    border: 1px solid #DDDDDD;
    padding: .5rem;
}
#idx-shortcode-modal .separator {
    height: 0;
    margin: 0px;
    padding: 0;
    border-top: 1px solid #ddd;
    width: 100%;
    position: absolute;
    bottom: 50px;
}

#idx-shortcode-modal .separator:first-of-type {
    position: static;
}

#idx-shortcode-modal .button {
    display: block;
    margin-left: 1rem;
    float: left;
    margin-top: 1rem;
    margin-right: 1rem;
    position: absolute;
    bottom: .5rem;
    right: 0;
}
#idx-shortcode-modal .button:active{
    top: initial;
}
.idx-toolbar-primary {
    float: right;
}

.select2-container--open {
    z-index: 1000000;
}
.idx-modal-shortcode-edit label {
    display: block;
    margin-bottom: .3rem;
}
.idx-modal-shortcode-edit select, .idx-modal-shortcode-edit input {
    display: block;
    width: 100%;
}
.idx-modal-shortcode-field {
    width: 50%;
    max-width: 450px;
    display: block;
    padding: 0.5rem;
    box-sizing: border-box;
}

@media screen and (max-width: 1003px) {
    #idx-shortcode-modal .button, #idx-shortcode-modal .separator {
        position: static;
    }
}

@media screen and (max-width: 950px) {
    .idx-modal-shortcode-field {
        width: 50%;
        display: inline-block;

    }
}
@media screen and (max-width: 700px) {
    .idx-shortcode-type{
        width: 100%;
        margin: 1rem 0;
    }
}

@media screen and (max-width: 500px) {
    .idx-modal-shortcode-field {
        width: 100%;
    }
}
