#idx-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 360px;
    background: #000;
    opacity: .7;
    z-index: 159900;
}
#idx-shortcode-modal {
    position: fixed;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    z-index: 160000;
}
.idx-modal-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    min-height: 300px;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.7);
    box-shadow: 0 5px 15px rgba(0,0,0,.7);
    background: #fcfcfc;
    -webkit-font-smoothing: subpixel-antialiased;
}
.idx-modal-inner-content {
    padding: 1rem;
}

#idx-shortcode-modal h1 {
    padding: 0 16px;
    font-size: 22px;
    line-height: 50px;
    margin: 0;
}

.idx-shortcode-type{
    width: 17rem;
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
}
.idx-modal-shortcode-edit {
    padding: 1rem;
}
.idx-shortcode-name {
    text-align: center;
    background: #fff;
    border: 1px solid #DDDDDD;
    padding: .5rem;
}
#idx-shortcode-modal .separator {
    height: 0;
    margin: 0px;
    padding: 0;
    border-top: 1px solid #ddd;
}

#idx-shortcode-modal .button {
    display: block;
    margin-left: 1rem;
    float: left;
    margin-top: 1rem;
    margin-right: 1rem;
}
.idx-toolbar-primary {
    float: right;
}
