.impress-lead-login {
    box-sizing: border-box;
    width: 100%;
}
#impress-widgetEmail {
    width: 60%;
}
.impress-lead-login #impress-widgetPassword {
    width: 60%;
    display: block;
}
#impress-widgetLeadLoginSubmit {
    width: 39%;
}
.impress-lead-login label, .idx-modal-shortcode-preview label {
    display: block;
}
