/* =Property Showcase
------------------------------------------------------------------------- */
.impress-showcase-property,
.impress-showcase-property p {
    text-align: left;
    font-size: 14px;
}
.impress-showcase-property a {
    text-decoration: none;
}
.impress-showcase-property .impress-showcase-photo {
    position: relative;
    display: block;
    margin-bottom: 0.4rem;
    border-bottom: 0;
}
.impress-showcase-property img {
    border: 1px solid #ccc;
    max-width: 100%;
}
.impress-showcase-property span.impress-price {
    font-size: 24px;
    display: block;
    text-decoration: none;
}
.impress-showcase-property span.impress-street {
    display: block;
}
.impress-showcase-property span.impress-status {
    display: none;
}
.impress-showcase-property .impress-address {
    margin-bottom: 5px;
}
.impress-showcase-property .impress-beds-baths-sqft span {
    margin: 0 5px;
}
.impress-property-showcase .column, .impress-property-showcase .columns {
    position: relative;
    padding-left: 0.8333333333rem;
    padding-right: 0.8333333333rem;
    float: left;
}
.impress-property-showcase .small-1 {
    width: 8.3333333333%;
}
.impress-property-showcase .small-2 {
    width: 16.6666666667%;
}
.impress-property-showcase .small-3 {
    width: 25%;
}
.impress-property-showcase .small-4 {
    width: 33.3333333333%;
}
.impress-property-showcase .small-5 {
    width: 41.6666666667%;
}
.impress-property-showcase .small-6 {
    width: 50%;
}
.impress-property-showcase .small-7 {
    width: 58.3333333333%;
}
.impress-property-showcase .small-8 {
    width: 66.6666666667%;
}
.impress-property-showcase .small-9 {
    width: 75%;
}
.impress-property-showcase .small-10 {
    width: 83.3333333333%;
}
.impress-property-showcase .small-11 {
    width: 91.6666666667%;
}
.impress-property-showcase .small-12 {
    width: 100%;
}
.impress-showcase-property .disclaimer p {
    font-size: 10px;
    margin: 0;
}
.impress-showcase-property .disclaimer p img {
    border: none;
}
@media only screen and (min-width:64.063em) {
    .impress-property-showcase .large-1 {
        width: 8.3333333333%;
    }
    .impress-property-showcase .large-2 {
        width: 16.6666666667%;
    }
    .impress-property-showcase .large-3 {
        width: 25%;
    }
    .impress-property-showcase .large-4 {
        width: 33.3333333333%;
    }
    .impress-property-showcase .large-5 {
        width: 41.6666666667%;
    }
    .impress-property-showcase .large-6 {
        width: 50%;
    }
    .impress-property-showcase .large-7 {
        width: 58.3333333333%;
    }
    .impress-property-showcase .large-8 {
        width: 66.6666666667%;
    }
    .impress-property-showcase .large-9 {
        width: 75%;
    }
    .impress-property-showcase .large-10 {
        width: 83.3333333333%;
    }
    .impress-property-showcase .large-11 {
        width: 91.6666666667%;
    }
    .impress-property-showcase .large-12 {
        width: 100%;
    }
}
@media only screen and (min-width:40.063em) {
    .impress-row {
          width: 100%;
          margin-left: auto;
          margin-right: auto;
          margin-top: 0;
          margin-bottom: 0;
          max-width: 1140px;
    }
    .impress-row:before, .impress-row:after {
        content: " ";
        display: table;
    }
    .impress-row:after {
        clear: both;
    }
    .impress-property-showcase .medium-1 {
        width: 8.3333333333%;
    }
    .impress-property-showcase .medium-2 {
        width: 16.6666666667%;
    }
    .impress-property-showcase .medium-3 {
        width: 25%;
    }
    .impress-property-showcase .medium-4 {
        width: 33.3333333333%;
    }
    .impress-property-showcase .medium-5 {
        width: 41.6666666667%;
    }
    .impress-property-showcase .medium-6 {
        width: 50%;
    }
    .impress-property-showcase .medium-7 {
        width: 58.3333333333%;
    }
    .impress-property-showcase .medium-8 {
        width: 66.6666666667%;
    }
    .impress-property-showcase .medium-9 {
        width: 75%;
    }
    .impress-property-showcase .medium-10 {
        width: 83.3333333333%;
    }
    .impress-property-showcase .medium-11 {
        width: 91.6666666667%;
    }
    .impress-property-showcase .medium-12 {
        width: 100%;
    }
}

