/* =Carousel
------------------------------------------------------------------------- */
.impress-carousel {
    overflow: hidden;
    text-align: center;
    position: relative;
}
.impress-carousel .owl-item .impress-carousel-property {
    margin: 0 10px;
    text-align: left;
}
.impress-carousel .owl-dots {
    display: none;
}
.impress-carousel .owl-controls {
    text-align: center;
}
.impress-carousel .owl-controls i {
    font-size: 24px;
    display: block;
}
.impress-carousel .owl-controls span {
    text-transform: uppercase;
    font-size: 12px;
    display: none;
}
.impress-carousel .owl-nav.owl-controls button.owl-prev,
.impress-carousel .owl-nav.owl-controls button.owl-next {
    background: #f3f3f3;
    color: #9a9a9a;
    padding: 10px;
    border-radius: 45px;
    width: 45px;
    height: 45px;
    display: inline-block;
    margin: 10px;
    box-sizing: border-box;
}
.impress-carousel .owl-controls .owl-prev {
    /*float: left;*/
}
.impress-carousel .owl-controls .owl-next {
    /*float: right;*/
}
.impress-carousel img {
    position: relative;
    display: block;
    margin-bottom: 10px;
}
.impress-carousel span.impress-price {
    font-size: 24px;
    margin-bottom: 0.225rem;
}
.impress-carousel a {
    text-decoration: none;
    border-bottom: 0;
}
.impress-carousel p {
    margin-bottom: 0;
    margin: 5px 0 0 0;
    font-size: 14px;
}
.impress-carousel span.impress-street {
    display: block;
}
.impress-carousel .impress-beds-baths-sqft span {
    margin: 0 10px 0 0;
    font-size: 14px;
}
.impress-carousel .disclaimer p {
    font-size: 10px;
    margin: 0;
}
.impress-carousel .disclaimer p img {
    border: none;
}

/*
 * Preview/Theme Specific Styles
 */
.idx-modal-shortcode-preview img {
    max-width: 100%;
}

