#idx-menu-notice-item {
	text-align: center;
	display: inline-block;
	font-size: 11px;
	width: 18px;
	height: 18px;
	text-align: center;
	border-radius: 100%;
	background: #E0463B;
	margin-left: 7px;
	color: #fff;
}

.notice-ajax {
	background-image:url(../images/ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: right 11px center;
}