#idx_dashboard_widget * {
    box-sizing: border-box;
}

#idx_dashboard_widget .widget-header * {
    display: inline-block;
    margin: 0 0.25rem;
}

#idx_dashboard_widget .inside > div {
    display: inline-block;
}

#idx_dashboard_widget .widget-header {
    margin-bottom: 1.5rem;
    vertical-align: top;
}

#idx_dashboard_widget .widget-header button {
    margin-bottom: 0.5rem;
}

#idx_dashboard_widget .inside {
    min-height: 17rem;
    width: 100%;
}

#idx_dashboard_widget .leads-overview, #idx_dashboard_widget .listings-overview {
    min-height: 17rem;
    margin: 0 0.25rem;
}


/* on off switch */
#idx_dashboard_widget .timeframe {
    padding: 0.25rem 0;
}
#idx_dashboard_widget .timeframe > label {
    margin-right: 0;
}
#idx_dashboard_widget .onoffswitch {
    margin-right: 0.5rem;
    position: relative;
    width: 44px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
}
#idx_dashboard_widget .onoffswitch-checkbox {
    display: none;
}
#idx_dashboard_widget .onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #0085BA;
    border-radius: 20px;
    width: 44px;
    height: 6px;
}
#idx_dashboard_widget .onoffswitch-inner {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
#idx_dashboard_widget .onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; 
    float: left; 
    width: 50%; 
    height: 15px; 
    padding: 0; 
    line-height: 15px;
    font-size: 14px; 
    color: white; 
    font-family: Trebuchet, Arial, sans-serif; 
    font-weight: bold;
    box-sizing: border-box;
}
#idx_dashboard_widget .onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #0085BA; 
    color: #FFFFFF;
}
#idx_dashboard_widget .onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #0085BA; 
    color: #999999;
    text-align: right;
}
#idx_dashboard_widget .onoffswitch-switch {
    display: block;
    width: 19px;
    margin: -6.5px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 28px;
    border: 2px solid #0085BA;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
#idx_dashboard_widget .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
#idx_dashboard_widget .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

@media screen and (max-width: 480px) {
    #idx_dashboard_widget .timeframe {
        display: block;
        margin-top: 0.5rem;
    }   
}

@media screen and (max-width: 780px) {
    #idx_dashboard_widget > div {
        width: 100%;
    }
}




/* Loader */
#idx_dashboard_widget .inside > div.idx-loader {
    vertical-align: top;
    display: block;
}

.idx-loader {
    display: none;
    width: 50px;
    height: 50px;
    position: relative;
    margin: auto;
    margin-bottom: -50px;
    border-radius: 50%;
    top: 4rem;
    z-index: 1;
}

.idx-loader:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#00a0d2, #fff 60%);
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

.idx-loader:after {
    content: "";
    position: absolute;
    width: 95%;
    height: 95%;
    top: 2.5%;
    left: 2.5%;
    background-color: #fff;
    border-radius: 50%;
}
@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*
 * Side Content
 */
#idx_dashboard_widget .new-leads > p, #idx_dashboard_widget .popular-listings > p {
    font-weight: 600;
    font-size: 14px;
    color: #23282d;
}

#idx_dashboard_widget ul {
    background: #f1f1f1;
    border-radius: 4px;
    box-shadow: 0px 1px 1px 0px #A5A5A5;
}
#idx_dashboard_widget li {
    padding: 12px 8px 12px 16px;
    position: relative;
}
.side-overview li p {
    display: block;
    word-break: break-word;
}
.side-overview li p:nth-of-type(2) {
    word-break: break-all;
}
.side-overview li p:first-of-type {
    padding-right: 2.4rem;
}
#idx_dashboard_widget .new-leads, .popular-listings {
    width: 50%;
    float: left;
    padding: 0.5rem;
}
#idx_dashboard_widget .lead-name,  
#idx_dashboard_widget .listing-address {
    font-weight: 600;
    font-size: 14px;
    color: #000;
    margin: 0;
}
#idx_dashboard_widget .lead-email, #idx_dashboard_widget .listing-views {
    margin: 0;
}
#idx_dashboard_widget .side-overview {
    width: 100%;
}
#idx_dashboard_widget .side-overview a {
    color: #444;
}
#idx_dashboard_widget .side-overview .fa {
    font-size: 24px;
    height: 16px;
    position: absolute;
    right: 16px;
    top: 12px;
}

@media screen and (max-width: 450px) {
    #idx_dashboard_widget .leads-overview, 
    #idx_dashboard_widget .listings-overview {
        min-height: 12rem;
    }
    #idx_dashboard_widget .new-leads,
    #idx_dashboard_widget .popular-listings {
        width: 100%;
        padding: 0;
    }
}
