#idx-shortcode:before {
    content: '\e021';
    font-family: 'properticons';
    margin-right: 0.3rem;
    margin-top: -2px;
    font-size: 3rem;
    color: #82878c;
    float: left;
}
#idx-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 360px;
    background: #000;
    opacity: .7;
    z-index: 159900;
}
#idx-shortcode-modal {
    position: fixed;
    z-index: 160000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.idx-modal-content {
    overflow: auto;
    min-height: 300px;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.7);
    box-shadow: 0 5px 15px rgba(0,0,0,.7);
    background: #fcfcfc;
    -webkit-font-smoothing: subpixel-antialiased;
    overflow-x: hidden;
    margin: 2rem auto;
    width: 80%;
    max-width: 833px;
    height: 90%;
}
.idx-modal-inner-content {
    padding: 1rem 0;
    min-height: 172px;
    max-height: 84.9%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    box-sizing: border-box;
}

.idx-modal-content .media-modal-close {
    position: relative;
    float: right;
}

.wp-core-ui .idx-modal-content .media-modal-close:focus {
    box-shadow: none;
}

#idx-shortcode-modal h1 {
    padding: 0 16px;
    font-size: 22px;
    line-height: 50px;
    margin: 0;
}

.idx-shortcode-type-icon {
    background: #EEE;
    border: 1px solid #E0E0E0;
    text-align: center;
    font-size: 50pt;
    padding: 4rem;
}

.idx-shortcode-type-icon .dashicons, .idx-shortcode-type-icon .dashicons-before:before{
    font-size: inherit;
    width: inherit;
    height: inherit;
}

.idx-shortcode-type{
    width: 15rem;
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
}
.idx-modal-shortcode-edit, .idx-modal-shortcode-preview {
    border-top: 1px solid #DDDDDD;
    padding: 1rem;
    height: 93%;
    box-sizing: border-box;
}

.wp-media-buttons .idx-modal-shortcode-edit a {
    color: #0073aa;
    text-decoration: underline;
    font: inherit;
}

.wp-media-buttons .idx-modal-shortcode-preview > a {
    font-size: 1rem;
    color: #00a0d2;
}

.idx-modal-tabs-router {
    display: none;
    width: 100%;
    position: static;
    margin-bottom: -5px;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    padding: 0 1rem;
}

.wp-media-buttons .idx-modal-tabs a {
    position: relative;
    float: left;
    padding: 8px 10px 9px;
    margin: 0;
    height: 18px;
    text-decoration: none;
    line-height: 18px;
    font-size: 14px;
    border-bottom: none;
    color: #21759b;
    cursor: pointer;
}

.wp-media-buttons .idx-modal-tabs a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.idx-modal-tabs a.idx-active-tab {
    color: #32373c;
    margin: -1px -1px 0;
    background: #fff;
    border: 1px solid #ddd;
    border-bottom: none;
}

.idx-shortcode-name {
    text-align: center;
    background: #fff;
    border: 1px solid #DDDDDD;
    padding: .5rem;
}

#idx-shortcode-modal .separator {
    height: 0;
    margin: 0px;
    padding: 0;
    border-top: 1px solid #ddd;
    width: 100%;
    /*position: absolute;*/
    bottom: 50px;
}

#idx-shortcode-modal .separator:first-of-type {
    position: static;
}

#idx-shortcode-modal .button {
    display: block;
    margin-left: 1rem;
    float: right;
    margin: .5rem;
}

.idx-modal-shortcode-preview .empty-notice {
    visibility: hidden;
    -webkit-animation-name: fadein;
    -webkit-animation-duration: 150s;
    -webkit-animation-delay: 2.5s;
    animation-name: fadein;
    animation-duration: 150s;
    animation-delay: 2.5s;
}

.idx-toolbar-primary {
    float: right;
    position: absolute;
    bottom: 6.7%;
    width: 80%;
    max-width: 833px;
    background: #FCFCFC;
}

#idx-shortcode-modal .button, #idx-shortcode-modal .separator {
    position: static;
}

.idx-back-button {
    padding: 1rem 1rem 0;
}

.wp-media-buttons .idx-back-button a {
    color: #21759b;
}

#idx-shortcode-modal .button:active{
    top: initial;
}
.idx-toolbar-primary {
    float: right;
}

.select2-container--open {
    z-index: 1000000;
}
.idx-modal-shortcode-edit label {
    display: block;
    margin-bottom: .3rem;
}
.idx-modal-shortcode-edit select, .idx-modal-shortcode-edit input, .idx-modal-shortcode-edit textarea {
    display: block;
    width: 100%;
}

.idx-modal-shortcode-field.checkbox label, .idx-modal-shortcode-field.checkbox input {
    display: inline-block;
}

.idx-modal-shortcode-edit input[type=checkbox] {
    width: initial;
}

.idx-modal-shortcode-preview {
    display: none;
}

.idx-modal-shortcode-preview img {
    max-width: 100%;
}

.idx-modal-shortcode-field {
    width: 50%;
    max-width: 450px;
    display: block;
    padding: 0.5rem;
    box-sizing: border-box;
}
/* select2 on shortcode ui */
span.select2.select2-container.select2-container--default.select2-container--below {
        max-width: 100%;

}


.idx-loader {
  width: 50px;
  height: 50px;
  position: relative;
  margin: auto;
  border-radius: 50%;
  margin-top: 5rem;
}

.idx-loader:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#00a0d2, #FCFCFC 60%);
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

.idx-loader:after {
  content: "";
  position: absolute;
  width: 95%;
  height: 95%;
  top: 2.5%;
  left: 2.5%;
  background-color: #FCFCFC;
  border-radius: 50%;
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 1040px) {
    .idx-shortcode-type{
        width: 46%;
        margin: 2%;
    }
}

@media screen and (max-width: 950px) {
    .idx-modal-shortcode-field {
        width: 50%;
        display: inline-block;

    }
}
@media screen and (max-width: 785px) {
    #idx-shortcode {
        padding: 0.35rem .5rem;
    }
}
@media screen and (max-width: 700px) {
    .idx-shortcode-type{
        width: 90%;
        margin: .5rem 5%;
    }
}

@media screen and (max-width: 500px) {
    .idx-modal-shortcode-field {
        width: 100%;
    }
}
/* Max Height*/
@media screen and (max-height: 920px) {
    .idx-toolbar-primary {
        bottom: 5.7%;
    }
    .idx-modal-inner-content {
        max-height: 84.9%;
    }

}
@media screen and (max-height: 700px) {
    .idx-toolbar-primary {
        bottom: 5.7%;
    }
    .idx-modal-inner-content {
        max-height: 65%;
    }
}
@media screen and (max-height: 650px) {
    .idx-toolbar-primary {
        bottom: 5.7%;
    }
    .idx-modal-inner-content {
        max-height: 55%;
    }
}
@media screen and (max-height: 500px) {
    #idx-shortcode-modal h1{
        font-size: 20px;
        line-height: 1.75em;
    }
    .idx-modal-content .media-modal-close{
        width: 35px;
        height: 40px;
    }

    .idx-toolbar-primary {
        bottom: 3.7%;
    }
    .idx-modal-inner-content {
        max-height: 60.9%;
        margin-top: .25rem;
    }
}
@media screen and (max-height: 400px) {
    .idx-toolbar-primary {
        bottom: 0%;
    }
    .idx-modal-inner-content {
        max-height: 100%;
        margin-bottom: 2rem;
    }
}





/* Animations */
@-webkit-keyframes fadein {
    0%   {visibility: hidden;}
    100% {visibility: visible;}
}
@keyframes fadein {
    0%   {visibility: hidden;}
    100% {visibility: visible;}
}
